@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --primary: #4070f4;
    --primaryHover: #265df2;
    --darkGrey: #333;
    --light: #fff;
    --grey: #aaa;
    --silver: #707070
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    overflow: hidden;
}
/*Animação do Modal*/


@keyframes show_slide{
   0%{
      transform: translateX(100%);
   }

   40%{
      transform: translateX(-10%);
   }
   
   80%{
      transform: translateX(0%);
   }

   100%{
      transform: translateX(0px);
   }
}

/* Modal de Alerta */

#modal.hide,
#fade.hide{
   opacity: 0;
   pointer-events: none;
}

#fade,
#modal{
   transition: 0.5s;
   opacity: 1;
   pointer-events: all;
}

#modal{
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   z-index: 10;
   text-align: center;
}

.alert-box{
   position: relative;
   max-width: 350px;
   width: 100%;
   background: #fff;
   border-radius: 12px;
   padding: 30px 25px;
}

#fade{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.6);
   z-index: 5;
}

.alert-box .title{
   position: relative;
   font-size: 23px;
   font-weight: 600;
}

.alert-box .title::before{
   content: '';
   position: absolute;
   left: 0;
   bottom: 0;
   height: 3px;
   width: 30px;
   background-color: #4070f4;
   border-radius: 25px;
}

.alert-box .hidePwGen{
   position: absolute;
   right: 10px;
   top: 5px;
   color: #D00000;
   font-size: 30px;
   cursor: pointer;
}

.alert-box .close-alertBox{
   width: 100%;
   color: #fff;
   padding: 12px 0;
   margin-top: 20px;
   background: #265df2;
   border: none;
   border-radius: 8px;
   cursor: pointer;
   transition: all 0.2s ease;
}

.alert-box .hidePwGen:hover{
   color: #FF1313;
}

.message-box{
   margin-top: 10px;
}

/*Modal*/



.wrapper{
    position: relative;
    max-width: 400px;
    width: 100%;
    background: var(--light);
    border-radius: 12px;
    padding: 30px 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: show_slide 1s ease forwards;
}

.wrapper .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.wrapper .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #4070f4;
    border-radius: 25px;
}

.wrapper .recovery-box{
    margin-top: 20px;
    position: relative;
    height: 50px;
}

.recovery-box input{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    padding: 0 45px 0 15px;
    border: 1px solid var(--grey);
    background-color: transparent;
    font-size: 16px;
}

.recovery-box .email-icon{
    position: absolute;
    right: 15px;
    top: 50%;
    color: var(--silver);
    font-size: 25px;
    transform: translateY(-50%);
}

.wrapper .sendEmail-Btn{
    width: 100%;
    padding: 12px 0;
    color: var(--light);
    font-size: 16px;
    margin-top: 20px;
    background: var(--primary);
    border: none;
    border-radius: 8px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.sendEmail-Btn:hover{
    background-color: var(--primaryHover);
}

/* Icone de loading */
.c-loader.hide{
   opacity: 0;
}

.c-loader{
   opacity: 1;
   position: absolute;
   margin-top: 30px;
   left: 100px;
   animation: is-rotating 1s infinite;
   width:25px;
   height: 25px;
   border: 3px solid #e5e5e5;
   border-radius:50%;
   border-top-color: var(--grey);
  
 }
 
 @keyframes is-rotating{
   to{
     transform: rotate(1turn);
   }
 }

.loginBtn{
   margin-top: 5px;
   text-align: center;
}

.loginBtn .text{
   color: var(--darkGrey);
   font-size: 14px;
}

.loginBtn a.text{
   color: var(--primary);
   text-decoration: none;
}
/* Mensagem de erro */

.alert{
   background-color: #ffdb9b;
   padding: 20px 40px;
   min-width: 370px;
   position: absolute;
   right: 0px;
   top: 10px;
   overflow: hidden;
   border-radius: 4px;
   border-left: 8px solid #ffa502;  
   opacity: 0;
   pointer-events: none;
   z-index: 10;
}
 
 .alert.showAlert{
    opacity: 1;
    pointer-events: auto;
 }
 
 .alert.show{
    animation: show_slide 1s ease forwards;
 }
 
 .alert.hide{
    animation: hide_slide 1s ease forwards;
 }
 
 @keyframes hide_slide{
    0%{
       transform: translateX(-10px);
    }
 
    40%{
       transform: translateX(0%);
    }
    
    80%{
       transform: translateX(-10%);
    }
 
    100%{
       transform: translateX(100%);
    }
 }
 
 
 .alert .uil-exclamation-circle{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #ce8500;
    font-size: 30px;
 }
 
 .alert .alert-message{
    padding: 0 20px;
    font-size: 16px;
    color: #ce8500;
 }
 
 .alert .close-message{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #ffd080;
    padding: 20px 18px;
    cursor: pointer;
 }
 
 .close-message:hover{
    background: #ffc766;
 }
 
 .close-message .uil-multiply{
    color: #ce8500;
    font-size: 22px;
    line-height: 40px;
 }